@model Escuela.Types.AlumnoMateria

@{
    ViewBag.Title = "Editar";
}

<h2>Details</h2>

<div>
    <h4>AlumnoMateria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MateriaProfesor.periodo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MateriaProfesor.periodo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idAlumnoMateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
