@model Escuela.Types.Calificacion

@{
    ViewBag.Title = "Editar";
}

<h2>Details</h2>

<div>
    <h4>Calificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Primer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Segunda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segunda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tercera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tercera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlumnoMateria.Alumno_boleta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlumnoMateria.Alumno_boleta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCalificacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
