@model Escuela.Types.Materia

@{
    ViewBag.Title = "Editar";
}

<h2>Details</h2>

<div>
    <h4>Materia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.idMateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
